.goldenbox {
  position: relative !important;
  padding: 5px;
  background: rgba(19, 21, 23, 0.01);
  box-shadow: 0px 0px 22px rgba(227, 188, 138, 0.35),
    inset 0px 0px 14px rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
  border: 2px solid;
  border-image-slice: 30 !important;
  border-image-source: linear-gradient(
    132.01deg,
    rgba(186, 161, 84, 0.8) -0.84%,
    rgba(179, 149, 59, 0.8) 100%
  );
  z-index: 98;
}

#desktop .goldenbox {
  min-height: 325px;
}

#mobile .goldenbox {
  min-height: none;
}

.box-centered {
  margin: auto;
  width: fit-content;
}

.innerbox {
  background: rgba(12, 28, 43, 0.3);
  border: 1px solid rgba(81, 81, 81, 0.8);
  backdrop-filter: blur(50px);
}

#desktop .innerbox {
  min-height: 325px;
}

#mobile .innerbox {
  min-height: none;
}

.innerbox-right {
  border-left: 0px;
  backdrop-filter: blur(40px);
}
