.monitoring-reward-box {
  background: rgba(12, 28, 43, 0.3);
  border: 1px solid rgba(81, 81, 81, 0.8);
  backdrop-filter: blur(40px);
  padding: 5px;
  margin-top: 7px;
}

.monitoring-reward-label,
.monitoring-reward-value {
  padding: 5px;
  flex-grow: 1;
  font-family: var(--main-font-family-regular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.monitoring-reward-value {
  flex-grow: 0;
}
